
<div class="box-wrapper">

    <h1 class="create-header">Share your pinspiration</h1>

    <form action="/pin" method="post">

        <label for="">Title</label>
        <br>
        <input type="text" name="title" id="">
        <br>
        <label for="">Description</label>
        <br>
        <input type="text" name="description" id="">
        <br>
        <label for="">Image URL</label>
        <br>
        <input type="text" name="image_url" id="">
        <br>

        <button>Post</button>

    </form>

</div>