<div class="index-wrapper">

    <% for(pin of pins) { %>

        <a href="/pin/<%= pin.id %>">
            <img src="<%= pin.image_url %>" alt="<%= pin.title %>" class="index-images">
        </a>

    <% } %>

</div>
