
<div class="login-wrapper">
    <h1>Login</h1>
    
    <h2>Welcome to Pinterest</h2>
    
    <form action="/login" method="post">

        <label for="">Username / Email address</label>
        <br>
        <input type="text" name="username_email" placeholder="Username / Email address" class="login-fields">
        <br>
        <label for="">Password</label>
        <br>
        <input type="text" name="password" placeholder="Password" class="login-fields">
        <br>
        <button>Continue</button>

    </form>


    <form action="/forgotpassword" method="get">
        <button>Forgot password</button>
    </form>
    
</div>