* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* background-color: mintcream; */
    font-family: 'Nunito Sans', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 10px 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


nav > a{
    font-size: 1.1rem;
    text-decoration: none;
    color: inherit;
    padding: 15px 5px;
}

.searchbar {
    border-radius: 20px;
    padding: 10px;
    display: flex;
    width: 700px;
}


.home-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 60vh;
}

.home-header > h1 {
    font-size: 3.5rem;
}

.home-header > h2 {
    font-size: 2rem;
}

.session-button {
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.about-header {
    text-align: center;
}

.about {
    padding: 20px 100px;
}

.create-button {
    background-color: #fff;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.create-button:hover {
    background-color: #1e293b;
    color: #fff;
}

@media (min-width: 768px) {
    .create-button {
        font-size: 1.125rem;
        padding: 1rem 2rem;
    }
}

.box-wrapper {
    /* border: 1px solid red; */
    /* text-align: center; */
    max-width: 300px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    background-color: white;
    border-radius: 32px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login-fields {
    width: 100%;
}

.create-header {
    text-align: center;
}

.info-images {
    max-height: 500px;
    border-radius: 20px;
}

.info-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.details-info-wrapper {
    margin: auto 20px;
}

.index-wrapper {
    display: flex;
    column-gap: 10px;
    padding: 10px;
    flex-wrap: wrap;
}

.index-images {
    max-width: 200px;
    border-radius: 20px;
}

